<div>
<button class="btn btn-recommended" ng-if="!addFactConfig.showAddFact" ng-click="toggleAddFact(true)">{{addFactConfig.addFactText}}</button>
</div>
<div class="add-fact-form" ng-if="addFactConfig.showAddFact">
  <h4>{{"schedulerModule.ADDING_COURSE" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row" ng-repeat="factInput in addFactConfig.factTypeConfig track by $index">
      <label>
        <div>{{factInput.key}}<div class="required" ng-if="factInput.required">*</div></div>
        <input type="text" ng-if="factInput.type === 'text' || factInput.type === 'uniqueText'" ng-model="factInput.value" ng-blur="checkInput(factInput)">
        <input type="number" ng-if="factInput.type === 'number'" min="0" ng-model="factInput.value" ng-blur="checkInput(factInput)">
        <div class="input-row-min-max" ng-if="factInput.type === 'minMax'">
          <div>{{"schedulerModule.MIN" | translate}}:</div>
          <input class="input-row-min" type="number" min="0" ng-model="factInput.value.min" ng-blur="checkInput(factInput, 'min')">
          <div>{{"schedulerModule.MAX" | translate}}:</div>
          <input type="number" min="1" ng-model="factInput.value.max" ng-blur="checkInput(factInput, 'max')">
        </div>
        <div class="input-row-start-end" ng-if="factInput.type === 'startEnd'">
          <div>{{"schedulerModule.START" | translate}}:</div>
          <input class="input-row-start" type="text" ng-model="factInput.value.start" ng-blur="checkInput(factInput, 'start')">
          <div>{{"schedulerModule.END" | translate}}:</div>
          <input type="text" ng-model="factInput.value.end" ng-blur="checkInput(factInput, 'end')">
        </div>
        <select ng-if="factInput.type === 'dropdown'" ng-model="factInput.value" ng-blur="checkInput(factInput)">
          <option ng-repeat="option in factInput.possibleAnswers" value="{{option}}">{{option}}</option>
        </select>
        <div class="input-row-constraint" ng-if="factInput.type === 'constraint'">
          <input list="{{factInput.key}}" ng-disabled="!factInput.facts.length" ng-model="factInput.value" ng-blur="checkInput(factInput)">
          <datalist id="{{factInput.key}}">
            <option ng-repeat="fact in factInput.facts" value="{{fact}}">{{fact}}</option>
          </datalist>
        </div>
      </label>
      <button class="circle-btn circle-btn-add" ng-if="factInput.multipleValues && !factInput.addedValue" ng-click="addInput(factInput, $index)"></button>
      <button class="circle-btn circle-btn-remove" ng-if="factInput.multipleValues && factInput.addedValue" ng-click="removeInput(factInput, $index)"></button>
      <div class="input-row-error" ng-if="factInput.error">{{factInput.error}}</div>
    </div>
    <div class="icon-option-row">
      <a href="">
        <div class="calendar-icon"></div>
        <div>{{"schedulerModule.SET_REPEAT" | translate}}</div>
      </a>
    </div>
    <div class="btn-row">
      <button class="btn btn-recommended" ng-click="saveFact(false)">{{"schedulerModule.SAVE" | translate}}</button>
      <button class="btn btn-recommended" ng-click="saveFact(true)">{{"schedulerModule.SAVE_ANOTHER" | translate}}</button>
      <button class="btn btn-secondary" ng-click="toggleAddFact(false)">{{"schedulerModule.CANCEL" | translate}}</button>
    </div>
  </section>
</div>