<section class="scheduler-container main-view-content">
  <sb-suggestion-list config="config.suggestionListConfig"></sb-suggestion-list>
  <!-- @TODO: make a directive for this nonsense... -->
  <div class="header-input-row">
    <label>
      <div>{{"schedulerModule.VIEWING" | translate}}</div>
      <select ng-model="factSelection" ng-disabled="!factSelection" ng-blur="updateSelection()">
        <option ng-repeat="option in factSelections track by $index" value="{{option}}" ng-selected="$index === 0">{{option}}</option>
      </select>
    </label>
  </div>
  <div ng-controller="AddFact">
    <sb-add-fact></sb-add-fact>
  </div>
  <!-- @TODO: make a directive for the table -->
  <!-- @TODO: figure out angular way to deal with tables -->
  <div ng-controller="DynamicTable">
    <sb-dynamic-table config="dynamicTableConfig"></sb-dynamic-table>
  </div>
</section>