<section class="scheduler-container main-view-content">
  <div class="error-box" ng-if="config.error">{{config.error}}</div>
  <button class="btn btn-recommended" ng-click="generateSchedule()" ng-show="!config.showSchedule" ng-disabled="config.loadingGenerate">{{"schedulerModule.GENERATE_SCHEDULE" | translate}}</button>
  <section class="schedule-list" ng-if="scheduleConfig.scheduleList && scheduleConfig.scheduleList.length">
    <h3>{{"schedulerModule.VIEW_SCHEDULES" | translate}}</h3>
    <div ng-repeat="schedule in scheduleConfig.scheduleList track by $index">
      <a href="" ng-click="selectSchedule(schedule.id)">{{schedule.name}} ({{schedule.created_at}})</a>
    </div>
  </section>
  <div class="loading" ng-if="scheduleConfig.selectedSchedule && !scheduleConfig.selectedSchedule.id">
    <div>Loading... </div>
    <div class="spinner" style="margin-left: 20px"></div>
  </div>
  <section ng-if="scheduleConfig.selectedSchedule && scheduleConfig.selectedSchedule.id">
    <div class="header-input-row">
      <label>
        <div>{{"schedulerModule.VIEW_AS" | translate}}</div>
        <select ng-model="scheduleOptions.selectedValue" ng-options="option.value as option.text for option in scheduleOptions.values" ng-change="updateScheduleView()"></select>
      </label>
    </div>
    <button class="btn btn-recommended export-options" ng-click="showExportScheduleOptions()">{{"schedulerModule.EXPORT_SCHEDULE" | translate}}</button>
    <div class="export-options-tooltip" ng-show="showExportOptions">
      <ul>
        <li ng-click="exportAsJSON()">JSON</li>
        <li ng-click="exportAsCSV()">CSV</li>
      </ul>
      <div class="triangle-up"></div>
    </div>
    <button class="btn btn-danger" ng-click="deleteSchedule()">{{"schedulerModule.DELETE_SCHEDULE" | translate}}</button>

    <section class="table-wrapper">
      <table class="dynamic-table schedule-table">
        <tr>
          <th>{{"schedulerModule.COURSE" | translate}}</th>
          <th>{{"schedulerModule.TEACHER" | translate}}</th>
          <th>{{"schedulerModule.CLASSROOM" | translate}}</th>
          <th>{{"schedulerModule.TIME" | translate}}</th>
          <th>{{"schedulerModule.STUDENTS" | translate}}</th>
        </tr>
        <tr ng-repeat="row in scheduleConfig.selectedSchedule.classes track by $index">
          <td>{{row.course.value}}</td>
          <td>{{row.teacher.value}}</td>
          <td>{{row.classroom.value}}</td>
          <td>{{row.time}}</td>
          <td class="table-cluster" ng-click="toggleCluster(row, 'students')">
            <div class="table-cluster-closed" ng-show="!row.show_students">
              <a href="">Show {{row.students.length}}</a>
            </div>
            <div class="table-cluster-open" ng-show="row.show_students">
              <div ng-repeat="student in row.students">{{student.value}}</div>
            </div>
          </td>
        </tr>
      </table>
    </section>
  </section>
</section>