<section class="table-wrapper">
  <table class="dynamic-table schedule-table" ng-if="tableView.rows && tableView.rows.length">
    <tr>
      <th ng-repeat="header in tableView.headers track by $index">{{header}}</th>
    </tr>
    <tr ng-repeat="row in tableView.rows track by $index">
      <!-- if value-->
      <td ng-repeat="rowEntry in row track by $index">
        <!-- cluster -->
        <div class="table-cluster" ng-if="rowEntry.type === 'array'">
          <div class="table-cluster-closed" ng-show="!rowEntry.show">
            <a href="" ng-click="toggleShow(rowEntry, true)">{{rowEntry.closedText}}</a>
          </div>
          <div class="table-cluster-open" ng-show="rowEntry.show">
            <a href="" ng-click="toggleShow(rowEntry, false)">{{"dynamicTable.OPENED_TEXT" | translate}}</a>
            <div ng-repeat="element in rowEntry.value track by $index">{{element}}</div>
          </div>
        </div>
        <div ng-if="!rowEntry.type">{{rowEntry}}</div>
      </td>
    </tr>
  </table>
</section>
