<div class="table-options-btn-container">
  <button class="btn btn-secondary" ng-click="toggleTableOptions()">{{'dynamicTable.TABLE_OPTIONS' | translate}}</button>
</div>
<div class="table-options-container" ng-show="tableOptions.show">
  <h3>{{'dynamicTable.TABLE_OPTIONS' | translate}}</h3>
  <label>
    <input type="checkbox" ng-model="tableOptions.floatTableHeader" ng-click="resetHeader()">
    <span>{{'dynamicTable.FLOAT_TABLE_HEADER' | translate}}</span>
  </label>
  <h4>{{'dynamicTable.SPECIFIC_COLUMN_OPTIONS' | translate}}</h4>
  <table>
    <tr ng-repeat="header in tableView.headers track by $index">
      <td ng-if="header.text">{{header.text}}</td>
      <td ng-if="!header.text">{{'dynamicTable.OPTIONS' | translate}}</td>
      <td>
        <label>
          <input type="checkbox" ng-model="header.show">
          <span>{{'dynamicTable.DISPLAY_COLUMN' | translate}}</span>
        </label>
      </td>
      <td>{{'dynamicTable.ENTRIES' | translate}}:</td>
      <td>
        <button class="btn btn-link" ng-click="toggleAllEntries($index, true)">{{'dynamicTable.SHOW_ALL' | translate}}</button>
      </td>
      <td>
        <button class="btn btn-link" ng-click="toggleAllEntries($index, false)">{{'dynamicTable.HIDE_ALL' | translate}}</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-secondary" ng-click="toggleTableOptions(false)">{{'dynamicTable.CLOSE' | translate}}</button>
</div>
<section class="table-wrapper">
  <table class="dynamic-table schedule-table" ng-if="tableView.rows && tableView.rows.length" ng-mouseleave="resetHeader()">
    <!-- <thead>
      <tr>
        <th ng-repeat="header in tableView.headers track by $index"><div ng-if="header.value !== 'disabled'">{{header.text}}</div></th>
      </tr>
    </thead> -->
    <tbody>
      <tr ng-repeat="row in tableView.rows track by $index" ng-init="rowIndex = $index" ng-mouseenter="moveHeader(rowIndex)" ng-class="{'header-row': row.type === 'header'}">
        <th ng-if="row.type === 'header'" ng-show="header.show" ng-repeat="header in tableView.headers track by $index">
          <div ng-if="header.value !== 'disabled'">{{header.text}}</div>
        </th>
        <!-- if editor -->
        <td class="table-editor" id="constraintEditor" colspan="{{tableView.headers.length}}" ng-if="row.type === 'editor'">
          <div class="table-editor-flex">
            <div class="table-editor-left">
              <section>
                <label class="table-editor-list">
                  {{'dynamicTable.CONSTRAINT_LIST' | translate}}:
                  <input list="constraintList" placeholder="{{'dynamicTable.CHOOSE_CONSTRAINT' | translate}}" ng-model="row.value">
                  <datalist id="constraintList">
                    <option ng-repeat="constraint in row.constraints track by $index" value="{{constraint}}">{{constraint}}</option>
                  </datalist>
                </label>
                <div class="table-editor-priority">
                  <button class="priority-help">?</button>
                  <section class="priority-help-tooltip">
                    <div class="tooltip-text">
                      <p>{{'dynamicTable.MANDATORY_TOOLTIP' | translate}}</p>
                      <p>{{'dynamicTable.HIGH_TOOLTIP' | translate}}</p>
                      <p>{{'dynamicTable.LOW_TOOLTIP' | translate}}</p>
                    </div>
                    <div class="triangle-up"></div>
                  </section>
                  <label class="priority-text">{{'dynamicTable.PRIORITY' | translate}}:</label>
                  <button class="priority-mandatory" ng-class="{'priority-active': row.priority === 'mandatory'}" placeholder="{{'dynamicTable.MANDATORY' | translate}}" ng-click="changePriority(row, 'mandatory')">{{'dynamicTable.ABBR_MANDATORY' | translate}}</button>
                  <button class="priority-high" ng-class="{'priority-active': row.priority === 'high'}" placeholder="{{'dynamicTable.HIGH' | translate}}" ng-click="changePriority(row, 'high')">{{'dynamicTable.ABBR_HIGH' | translate}}</button>
                  <button class="priority-low" ng-class="{'priority-active': row.priority === 'low'}" placeholder="{{'dynamicTable.LOW' | translate}}" ng-click="changePriority(row, 'low')">{{'dynamicTable.ABBR_LOW' | translate}}</button>
                </div>
              </section>
              <section class="flex-bottom-btn">
                <button class="btn btn-recommended" ng-click="submitEditor(row, false)" ng-disabled="!row.value">{{'dynamicTable.SAVE' | translate}}</button>
                <button class="btn btn-recommended" ng-bind-html="'dynamicTable.SAVE_ANOTHER' | translate" ng-click="submitEditor(row, true)" ng-disabled="!row.value"></button>
                <button class="btn btn-secondary" ng-click="cancelEditor()">{{"dynamicTable.CANCEL" | translate}}</button>
              </section>
            </div>
            <div class="table-editor-right">
              <a href="" ng-click="toggleFilters(row)">{{row.showFiltersText}}</a>
              <div class="table-editor-filters" ng-class="{'table-editor-filters-hide': !row.showFilters}">
                <label ng-repeat="filter in row.filters track by $index"><input type="checkbox" ng-model="filter.checked" ng-disabled="!row.showFilters">{{filter.text}}</label>
              </div>
            </div>
          </div>
        </td>
        <!-- if value-->
        <td ng-if="!row.type" ng-repeat="rowEntry in row track by $index" ng-show="tableView.headers[$index].show">
          <!-- cluster - NO entries -->
          <div class="table-cluster table-cluster-add" ng-if="rowEntry.type === 'array' && !rowEntry.value" ng-click="addConstraint(rowIndex)">
            <a class="table-cluster-add-text" href="">{{'dynamicTable.ADD' | translate}}</a>
            <button class="table-cluster-add-btn" alt="{{'dynamicTable.ADD' | translate}}"></button>
          </div>
          <!-- cluster - entries -->
          <div class="table-cluster" ng-if="rowEntry.type === 'array' && rowEntry.value">
            <a href="" ng-click="toggleShow(rowEntry)">{{rowEntry.text}}</a>
            <button class="table-cluster-add-btn" ng-click="addConstraint(rowIndex)" alt="{{'dynamicTable.ADD' | translate}}"></button>
            </div>
            <div class="table-cluster-open" ng-show="rowEntry.show">
              <div class="entry" ng-repeat="element in rowEntry.value track by $index">
                <div class="priority-label">
                  <div class="priority-mandatory" placeholder="{{'dynamicTable.MANDATORY' | translate}}" ng-if="element.priority === 'mandatory'">{{'dynamicTable.ABBR_MANDATORY' | translate}}</div>
                  <div class="priority-high" placeholder="{{'dynamicTable.HIGH' | translate}}" ng-if="element.priority === 'high'">{{'dynamicTable.ABBR_HIGH' | translate}}</div>
                  <div class="priority-low" placeholder="{{'dynamicTable.LOW' | translate}}" ng-if="element.priority === 'low'">{{'dynamicTable.ABBR_LOW' | translate}}</div>
                </div>
                <div class="entry-options">
                  <button class="entry-edit" alt="{{'dynamicTable.EDIT' | translate}}" ng-click="editConstraint(rowIndex)"></button>
                  <button class="entry-disable" alt="{{'dynamicTable.DISABLE' | translate}}"></button>
                  <button class="entry-delete" alt="{{'dynamicTable.DELETE' | translate}}"></button>
                </div>
                <span>{{element.value}}</span>
              </div>
            </div>
          </div>
          <!-- not a cluster (value) -->
          <div ng-if="!rowEntry.type">
            <!-- value -->
            <div ng-if="rowEntry" class="entry">
              <div class="entry-options">
                <button class="entry-edit" alt="{{'dynamicTable.EDIT' | translate}}"></button>
                <button class="entry-delete" alt="{{'dynamicTable.DELETE' | translate}}"></button>
              </div>
              <div>{{rowEntry}}</div>
            </div>
            <!-- no value -->
            <div ng-if="!rowEntry" class="no-entry">
              <button class="no-entry-edit" alt="{{'dynamicTable.EDIT' | translate}}"></button>
              </div>
            </div>
          </div>
          <!-- disable btn and other btn-size options -->
          <div ng-if="rowEntry.type === 'disabled'">
            <button class="table-row-disabled" ng-class="{'table-row-disabled-active': rowEntry.value, 'table-row-disabled-inactive': !rowEntry.value}" alt="{{'dynamicTable.DISABLE' | translate}}"></button>
            <button class="table-row-delete" alt="{{'dynamicTable.DELETE' | translate}}"></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
