<sb-view-header config="importExportContainer.viewHeaderConfig"></sb-view-header>
<section class="import-export-container main-view-content">
  <h4>{{"importExport.IMPORT_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.IMPORT_TABLE" | translate}}</div>
        <select>
          <option>Teachers</option>
          <option>Students</option>
          <option>Courses</option>
          <option>Classrooms</option>
        </select>
      </label>
    </div>
  </section>
  <section class="view-sub-content">
    <input type="file" nv-file-select uploader="fileUploader">  
  </section>
  <h4>{{"importExport.EXPORT_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TABLE" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TO" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <button class="btn btn-recommended">{{"importExport.EXPORT_FILE" | translate}}</button>
  </section>
  <h3>{{"importExport.MODULES_SECTION" | translate}}</h3>
  <h4>{{"importExport.SCHEDULER_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.SCHEDULE" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TO" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <button class="btn btn-recommended">{{"importExport.EXPORT_FILE" | translate}}</button>
  </section>
</section>