<sb-view-header config="importExportContainer.viewHeaderConfig"></sb-view-header>
<section class="import-export-container main-view-content">
  <h4>{{"importExport.IMPORT_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.IMPORT_TABLE" | translate}}</div>
        <select ng-model="uploadTableName" ng-change="setUploadUrl()">
          <option value="teachers">{{"importExport.TEACHERS" | translate}}</option>
          <option value="students">{{"importExport.STUDENTS" | translate}}</option>
          <option value="courses">{{"importExport.COURSES" | translate}}</option>
          <option value="classrooms">{{"importExport.CLASSROOMS" | translate}}</option>
        </select>
      </label>
    </div>
    <div class="input-row">
      <label>
        <div>{{"importExport.FILE" | translate}}</div>
        <input type="file" nv-file-select uploader="fileUploader" style="border:none">  
      </label>
    </div>
    <div class="input-row">
      <button class="btn btn-recommended" ng-disabled="fileUploader.isUploading || fileUploader.queue.length == 0" ng-click="uploadSelectedFile()">{{"importExport.UPLOAD_FILE" | translate}}</button>
      <label ng-show="fileUploader.isUploading">{{"importExport.UPLOADING" | translate }}{{fileUploader.progress}}</label>
    </div>
  </section>
  <h4>{{"importExport.EXPORT_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TABLE" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TO" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <button class="btn btn-recommended">{{"importExport.EXPORT_FILE" | translate}}</button>
  </section>
  <h3>{{"importExport.MODULES_SECTION" | translate}}</h3>
  <h4>{{"importExport.SCHEDULER_HEADER" | translate}}</h4>
  <section class="view-sub-content">
    <div class="input-row">
      <label>
        <div>{{"importExport.SCHEDULE" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <div class="input-row">
      <label>
        <div>{{"importExport.EXPORT_TO" | translate}}</div>
        <input type="text">
      </label>
    </div>
    <button class="btn btn-recommended">{{"importExport.EXPORT_FILE" | translate}}</button>
  </section>
</section>