<section class="main-container">
  <div ng-controller="MainNavBar">
    <sb-main-nav-bar config="mainContainer.navBarConfig" info="mainNavBar"></sb-main-nav-bar>
  </div>

  <div class="main-views">
    <div ng-controller="AdminHomeContainer" ng-if="mainContainer.navBarConfig.view === 'main dashboard'">
      <sb-admin-home-container></sb-admin-home-container>
    </div>
    <div ng-controller="ImportExportContainer" ng-if="mainContainer.navBarConfig.view === 'import export'">
      <sb-import-export-container></sb-import-export-container>
    </div>
    
    <!-- MODULES -->
    <div ng-controller="SchedulerModule" ng-if="mainContainer.navBarConfig.view === 'scheduler'">
      <sb-scheduler-module config="mainContainer.navBarConfig" info="schedulerModule"></sb-scheduler-module>
    </div>
  </div>
</section>