<section class="main-container">
  <div ng-controller="MainNavBar">
    <sb-main-nav-bar></sb-main-nav-bar>
  </div>

  <div class="main-views">
    <!-- <div ng-controller="AdminHomeContainer">
      <sb-admin-home-container></sb-admin-home-container>
    </div> -->
<!--     <div ng-controller="ImportExportContainer">
      <sb-import-export-container></sb-import-export-container>
    </div> -->
    
    <!-- MODULES -->
    <div ng-controller="SchedulerModule">
      <sb-scheduler-module></sb-scheduler-module>
    </div>
  </div>
</section>