<section class="main-nav-bar" ng-style="mainNavBar.navBarStyle">
  <div class="main-nav-bar-open" ng-show="mainNavBar.isOpen">
    <section class="main-nav-bar-header">
      <div class="close-icon" ng-click="toggleNavBar(false)"></div>
      <div class="sb-logo"></div>
    </section>
    <section class="main-nav-bar-profile" ng-class="{'main-nav-bar-profile-active': profileIsOpen}">
      <div class="down-arrow-icon" ng-click="toggleProfileSettings()"></div>
      <a href=""><h4 ng-click="toggleProfileSettings()">{{config.profile.username}}</h4></a>
      <a href=""><h5 ng-click="toggleProfileSettings()">{{translations.signed_in}}</h5></a>
      <div class="profile-settings" ng-show="profileIsOpen">  
          <a href="" ng-click="mainNavBar.changeView('profile')"><div class="profile-control" ng-class="{'profile-control-active': config.view === 'profile'}">{{"mainNavBar.PROFILE" | translate}}</div></a>
          <a href="" ng-click="mainNavBar.changeView('settings')"><div class="profile-control" ng-class="{'profile-control-active': config.view === 'settings'}">{{"mainNavBar.SETTINGS" | translate}}</div></a>
          <a href="" ng-click="mainNavBar.logout()"><div class="profile-control" ng-class="{'profile-control-active': config.view === 'logout'}">{{"mainNavBar.LOGOUT" | translate}}</div></a>
      </div>
    </section>
    <section class="main-nav-bar-main-controls">
      <a href="" ng-click="mainNavBar.changeView('main dashboard')"><div class="main-control" ng-class="{'main-control-active': config.view === 'main dashboard', 'dashboard-control': config.view !== 'main dashboard'}">{{"mainNavBar.MAIN_DASHBOARD" | translate}}</div></a>
      <a href="" ng-click="mainNavBar.changeView('import export')"><div class="main-control" ng-class="{'main-control-active': config.view === 'import export'}">{{"mainNavBar.IMPORT_EXPORT" | translate}}</div></a>
    </section>
    <section class="main-nav-bar-module-controls">
      <h3>{{"mainNavBar.MODULES" | translate}}</h3>
      <div class="modules-list" ng-repeat="module in config.modules">
        <a href="" ng-click="mainNavBar.changeView(module.identifier)"><div class="main-control" ng-class="{'main-control-active': config.view === module.identifier || module.submoduleActive}" ng-bind-html="module.name"></div></a>
        <div class="submodules-list" ng-repeat="submodule in module.submodules">
          <a href="" ng-click="mainNavBar.changeSubView(submodule.identifier, module.identifier)"><div class="sub-control" ng-class="{'sub-control-active': config.subView === submodule.identifier}" ng-bind-html="submodule.name"></div></a>
        </div>
      </div>
    </section>
  </div>
  <div class="main-nav-bar-closed" ng-show="!mainNavBar.isOpen">
    <div class="hamburger-icon" ng-click="toggleNavBar(true)"></div>
  </div>
</section>