<sb-view-header config="studentHomeContainer.viewHeaderConfig"></sb-view-header>

<section class="main-view-content">
	<h3>Welcome to Schoolbloc!</h3>
	<p>Choose <b>'Manage classes'</b> from the menu to view your required coures, as well as adding and prioritizing your elective courses.</p>
	<p>To log out, click on your username, and <b>'Logout'</b>.</p>
	<p>Please note, you will be unable to view your schedule from this website.  The school will provide you with your schedule at a later time.</p>
</section>
