<section class="suggestion-list">
  <div class="suggestion-list-item suggestion-list-warning">
    <p>!!Programming I needs a subject&nbsp;&nbsp;<span class="suggestion-list-link"><a href="" ng-click="linkToAction()">!!Add a subject</a></span></p>
  </div>
  <div class="suggestion-list-item suggestion-list-alert">
    <p>!!Programming I needs a subject&nbsp;&nbsp;<span class="suggestion-list-link"><a href="" ng-click="linkToAction()">!!Add a subject</a></span></p>
  </div>
  <div class="suggestion-list-more">
    <p><a href="">!!View 4 more suggestions</a></p>
  </div>
</section>